<div class="ui container">
    <div class="vertical-spacer"></div>
    <div class="vertical-spacer"></div>
    <label class="title">Designated Driver</label>
    <div class="vertical-spacer"></div>
    <label>In case you&apos;ve had a bit too much to drink, we can send a message to your DD/Contact to tell them it&apos;s time to head out.</label>
    <div class="vertical-spacer"></div>
    <form class="ui form">
        <div class="field">
            <label>Name</label>
            <input type="text" placeholder="Name" name="name">
        </div>
        <div class="field">
            <label>Phone number</label>
            <input type="text" placeholder="Phone number" name="pnum">
        </div>
        <div class="vertical-half-spacer"></div>
        <button class="ui blue fluid button" type="submit">Register DD</button>
        <div class="vertical-quarter-spacer"></div>
        <div class="ui error message"></div>
    </form>
    <button class="ui red fluid button" ng-click="advance()">Skip</button>
</div>